<h1>About Me</h1>
<div class="panel-body GHU3DKEB-">
    <h4>Software Developer </h4>
    <p>
    <div><span style="font-weight: bold;">Welcome</span></div>
    <div><br></div>
    <div>Welcome to my career portfolio! I created this portfolio with many functions including, login functionality and user sessions. You won't be able to
    enter some sections of this site without logging in. Luckily you can register and access those parts easily. I hope that this portfolio provides insight
        into my character, programming background, analytical skills, and accomplishments.</div>
    <div><br></div>
    <div><span
            style="font-weight: bold; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">Goals</span><br>
    </div>
    <div>&nbsp;I would like to obtain a position as an Software
        Developer to utilize my strong background in programming.</div>
    <div><br></div>
    <div><span style="font-weight: bold;">Objective:</span></div>
    <div>In this portfolio, I am aiming to:</div>
    <div>
        <ul>
            <li>Showcase the analytical skills I have developed through my experiences<br></li>
            <li>Reflect on how these experiences have shaped my academic and professional goals<br></li>
            <li>Highlight some of my accomplishments and diverse experiences&nbsp;<br></li>
        </ul>
    </div>
    </p>
</div>